@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<head>
    <title>@ViewData["Title"]</title>
    <!-- Include CSS and JavaScript for Toastr.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
